
/*main styles*/

* {
  box-sizing: border-box;
  list-style: none;
  font-family: arial, sans-serif;
  font-weight: lighter;
  }


body {
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  background: azure;
  background-size: cover;
  padding-bottom: 1em;
  padding-top: 1em;
    }



h1 {
  text-transform: uppercase;
  font-weight: bold;
  }

h2 {
  padding: 1em 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .85em;
  }

h3 {
  font-weight: 500;
  font-size: 1.25em;
  }



img {
      padding-top: 1em;
      padding-bottom: 1em;
      width:100%;

      }

p {
  text-align: center;
  padding: .5em 0;
  width: 90%;
  margin: 0 auto;
  }

a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  }

footer {
  border-top: 1px solid black;
  margin: 0 auto;
  }



/*Classes */




.nav a {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    display: block;
    margin-top: .25em;
    padding-left: .75em;
    padding-top: .25em;
    padding-right: .25em;
    font-size: 1.25em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2em;
    }

.profile-pic{
  width:60%;
  margin: 0 auto;
  padding-top:1em;
  padding-left: 1em;
}

.profile-intro{
  font-size: 1.25em;
  padding: .5em .5em;
}

.port-background{
  width: 100%;
  background-color: white;
  background-size: cover;
  padding-top: 1em;
  padding-bottom: 1em;
  clear: both;
  min-height: 10em;
  display:inline-block;
  }

.main-portfolio{
  width:90%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 1em auto;
  text-align: center;


  }


.student-name {
  display: inline-block;
  float: left;
  font-weight: bold;
  }

.main-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  width:90%;
  margin: 0 auto;
  }

.back-to-top a{
  display: inline-block;
  float:right;
  font-weight: bold;
  text-transform: uppercase;
  }

.footer-nav a{
  display:none;
}


  /* MEDIA QUERIES */


/*******TABLET SCREEN**********/

  @media (min-width: 768px){



.main-nav a{
  background: azure;
  }

.main-nav li{
  display: inline-block;
  }


.profile-section {
  display: inline-block;
  width:90%;
  margin: 0 auto;
  }

.profile-pic {
  display: inline-block;
  float:right;
  width:40%;

  }

.profile-intro{
  display:inline-block;
  line-height: 2em;
  float: left;
  width: 60%;
  }

.profile-intro p {
  text-align: left;
}



.main-portfolio{
  width: 90%;
  margin: 0 auto;
  }

.portfolio-text{
  min-height: 5em;
  max-height: 5em;
  padding-bottom: 2em;
}

.col-1{
  display:inline-block;
  float:left;
  width:50%;
  padding-right: .5em;
  }

.col-2{
  display:inline-block;
  float:right;
  width:50%;
  padding-left: .5em;
  }

.contact,
.skills{
  clear:both;
  padding-top: 1em;
  display:block;
  width: 60%;
  text-align: center;
  margin: 1em auto;
  }

.back-to-top a{
  float:left;
  display:none;
  }


.footer-nav a{
  display:inline-block;
  float:right;
  text-transform: uppercase;
  padding-left: 1em;
  }


  }



  /******* DESKTOP SCREEN*******/
    @media (min-width: 1024px){



  header {
    float: left;
    }

.header-section {
  width:90%;
  margin: 0 auto;
  }

.main-nav li{
  float: right;
  padding-top: .5em;
  text-align: right;
  }

.profile-pic {
  padding-right: .5em;
}

.port-background{
    width: 100%;
    margin: 0 auto;
    }

.first-col,
.middle-col,
.last-col {
  display: inline-block;
  float:left;
  width:33.33%;
  margin: 0 auto;
  padding-left: .5em;
  padding-right: .5em;
  }

    }

    /** CLEARFIX
   * For modern browsers
   * 1. The space content is one way to avoid an Opera bug when the
   *    contenteditable attribute is included anywhere else in the document.
   *    Otherwise it causes space to appear at the top and bottom of elements
   *    that are clearfixed.
   * 2. The use of `table` rather than `block` is only necessary if using
   *    `:before` to contain the top-margins of child elements.
   */
  .cf::before,
  .cf::after {
      content: " "; /* 1 */
      display: table; /* 2 */
  }

  .cf::after {
      clear: both;
  }

  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  /*.cf {
      *zoom: 1;
  }*/
